Repository tw-haiven/haiven: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-header-py, check-header-js

.pre-commit-config.yaml:

fail_fast: true
repos:
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: ""
    hooks:
      - id: prettier
        args: ['--write']
        files: '\.jsx?$'
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.3.0
    hooks:
      - id: ruff
        args: [ --fix ]
      - id: ruff-format
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.16.4
    hooks:
      - id: gitleaks
  - repo: local
    hooks:
      - id: check-header-py
        name: Check for license header in Python files
        entry: .precommit/check_header.sh
        language: system
        files: '\.(py)$'
        exclude: '^$'
      - id: check-header-js
        name: Check for license header in JS files
        entry: .precommit/check_header.sh
        language: system
        files: '\.(js)$'
        exclude: '^$'
      - id: check-cli-readme
        name: Check if the CLI Readme needs an update
        entry: .precommit/check_cli_readme.sh
        language: system
      - id: check-ui-tests
        name: Check if UI tests are passing
        entry: .precommit/run_ui_tests.sh
        language: system
        pass_filenames: false

fix: increase test timeout
  ui/src/__tests__/_prompt_chat.test.js
Due: check-header-js

fix: Removed the stop button checks that were checking for the button after streaming completed
  ui/src/__tests__/_cards_chat.test.js
Due: check-header-js

chore: update dependencies
  app/poetry.lock
  app/pyproject.toml
  cli/poetry.lock
  cli/pyproject.toml
  ui/package.json
  ui/tsconfig.json
  ui/yarn.lock
Due: none

chore: update dependencies
  app/poetry.lock
  app/pyproject.toml
  cli/poetry.lock
  cli/pyproject.toml
  ui/package.json
  ui/yarn.lock
Due: none

Upgrade LangChain to 1.x and update dependencies
  app/embeddings/documents.py
  app/knowledge/documents.py
  app/llms/clients.py
  app/poetry.lock
  app/prompts/prompts.py
  app/pyproject.toml
  app/tests/test_knowledge_documents.py
  cli/haiven_cli/services/knowledge_service.py
  cli/poetry.lock
  cli/pyproject.toml
  tests/package-lock.json
  tests/package.json
Due: check-header-py

Upgrade dependencies across backend and frontend
  app/poetry.lock
  app/pyproject.toml
  cli/poetry.lock
  cli/pyproject.toml
  ui/package.json
  ui/yarn.lock
Due: none

chore: update dependencies
  app/poetry.lock
  app/pyproject.toml
  cli/poetry.lock
  cli/pyproject.toml
  ui/package.json
  ui/update_packages.js
  ui/yarn.lock
  upgrade_dev_dependencies.sh
Due: check-header-js

chore: upgrade dependencies
  app/poetry.lock
  app/pyproject.toml
  cli/poetry.lock
  cli/pyproject.toml
Due: none

chore|upgrade dependencies
  app/poetry.lock
  app/pyproject.toml
  cli/poetry.lock
  cli/pyproject.toml
  ui/package.json
  ui/yarn.lock
Due: none

chore: update dependencies
  app/poetry.lock
  app/pyproject.toml
  cli/poetry.lock
  cli/pyproject.toml
Due: none

test: cover knowledge prompts overview
  ui/src/__tests__/_knowledge_overview_prompts.test.js
Due: check-header-js

feat: add categorized prompts overview
  ui/src/__tests__/_knowledge_overview_prompts.test.js
  ui/src/app/_download_prompt_category.js
  ui/src/app/_prompt_overview_preview.js
  ui/src/app/utils/promptGroupingUtils.js
  ui/src/pages/knowledge.js
Due: check-header-js

chore: update dependencies and fix flaky test
  app/poetry.lock
  app/pyproject.toml
  cli/poetry.lock
  cli/pyproject.toml
  ui/package.json
  ui/src/__tests__/_cards_chat.test.js
  ui/yarn.lock
Due: check-header-js

Upgrade python dependencies
  app/config.yaml
  app/poetry.lock
  app/pyproject.toml
  app/update_dependencies.py
  cli/poetry.lock
  cli/pyproject.toml
  cli/update_dependencies.py
  upgrade_dev_dependencies.sh
Due: check-header-py

node dependency upgrades
  ui/package.json
  ui/src/app/_enrich_card.js
  ui/src/app/utils/jsonArrayStream.js
  ui/src/pages/_cards-chat.js
  ui/src/pages/creative-matrix.js
  ui/src/pages/scenarios.js
  ui/vite.config.mjs
  ui/yarn.lock
Due: check-header-js

Upgrade some GH Actions
  .github/workflows/main.yml
Due: none

Fix version copy&paste error
  .github/workflows/main.yml
Due: none

semgrep: Pin action version, cooldown period for dependabot
  .github/dependabot.yml
  .github/workflows/main.yml
Due: none
